.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 80vh;
    width: 50vw;
    background-color: white;
    border-radius: 20px;
    position: relative;

    .cameraHeader {
        background-color: #000000;
        height: 70px;
        border-radius: 10px;
        width: 98%;
        position: absolute;
        top: 5px;
        z-index: 1;
        display: flex;
        align-items: center;
        padding-left: 5px;
        gap: 10px;


        .staticBtn,
        .dynamicBtn {
            background-color: transparent;
            color: red;
            border: 2px solid red;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.3s ease;

            &:active {
                background-color: #28a745;
                border-color: #28a745;
                box-shadow: 0 0 10px rgba(40, 167, 69, 0.6);
                color: white;
            }
        }

        .staticBtn {
            margin-left: 10px;
        }

        .staticBtnSelected,
        .dynamicBtnSelected {
            border: 2px solid green;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.3s ease;
            background-color: #28a745;
            border-color: #28a745;
            box-shadow: 0 0 10px rgba(40, 167, 69, 0.6);
            color: white;
        }

    }

}


.title {
    display: flex;
    gap: 20px;
}

.horizontalContainer {
    display: flex;
    gap: 20px;

}

.translateBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.languageTranslation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.translatedText {
    border: 2px solid #007BFF;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
    padding: 10px;
    margin-top: 10px;
    height: 30vh;
    width: 35vw;
    color: white;
    font-size: 24px;
}

.speakButton {


    .speakBtn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        .icon {
            width: 24px;
            height: 24px;
            color: white;
        }
    }
}

.fpsCounter {
    width: 100%;
    text-align: right;

    p {
        margin-right: 20px;
        font-size: 45px;
        font-family: 'Micro 5', sans-serif;
    }
}

.glossBox {
    color: #DA70D6;
    border-radius: 5px;
    margin-top: 10px;
    height: 20vh;
    border: 1px solid white;
    padding: 10px;
}