.horizontalContainer {
    display: flex;
    gap: 20px;
}

.textInput {
    padding: 10px;
    margin-top: 10px;
    height: 30vh;
    width: 25vw;
    background-color: black;
    color: white;
    font-size: large;
    box-shadow: inset 0 0 5px rgba(0, 255, 65, 0.3), 0 0 20px rgba(0, 255, 65, 0.5);
    border: 2px solid rgba(0, 255, 65, 0.4);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;

    .translateBtn {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
}

.glossBox {
    color: #DA70D6;
    border-radius: 5px;
    margin-top: 10px;
    height: 20vh;
    border: 1px solid white;
    padding: 10px;


    h3 {
        color: #00FF41;
        font-family: 'Courier New', monospace;
        letter-spacing: 2px;
        text-decoration: underline;
        margin-top: 0px;
    }
}

.replayBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    .icon {
        width: 24px;
        height: 24px;
        color: white;
    }
}

.videoBox {
    height: 70vh;
}

.speakBtn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    .icon {
        width: 24px;
        height: 24px;
        color: white;
    }
}