.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 80vh;
    width: 50vw;
    background-color: white;
    border-radius: 20px;

}

.content {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.title {
    display: flex;
    gap: 20px;
    background: linear-gradient(to bottom, rgb(126, 24, 126), rgb(0, 0, 0));
    width: 100%;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.horizontalContainer {
    display: flex;
    gap: 20px;

}

.translateBtn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.languageTranslation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.translatedText {
    border: 2px dashed white;
    padding: 10px;
    margin-top: 10px;
    height: 60vh;
    width: 35vw;
}

.speakButton {


    .speakBtn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;

        .icon {
            width: 24px;
            height: 24px;
            color: white;
        }
    }
}

.children {
    margin-bottom: 20px;
}